:root{
        --cor-primaria:#183C63;
        --cor-sercundaria:#3782d2;
        --cor-fundo:#ffffff;
        --cor -texto:#151428;
        --cor-contraste:#f3eef7;
        --cor -botao:#f9f9f9
--fonte-texto:'Segeo UI' ,sans-serif;
}
.tema-escuro{
--cor-primaria:#A6CEFE;
        --cor-sercundaria:#98caff;
        --cor-fundo:#0f172a;
        --cor -texto:#ffffff;
        --cor-contraste:#1e293b;
        --cor -botao:#151428;
}
.tema-escuro{
        color:var(--cor-secudaria);
.tema-escuro p{
        color:var(--cor-texto);
}
        .bnt-tema-escuro{
           position:fixed;
           bottom: 16px
           right: 16px
          font-size: 32px;
          padding: 12px;
          background-color: var(--cor-primaria);
          border-radius:50%;
        }

body{
        max-width: 100vw;
        font-family: var(--fonte-texto);
}
header{
          background-color:var(--cor-primaria);
          color:var(--cor-contraste);
          text-align:center
          margin:0 auto;
          border: 5px solid #cf1010;
          padding: 16px
        }
        main{
          background-color:#FFFFFF;
          color: #183c63;
          text-align:center
          margin: 0 auto;
          padding: 16px
        display: flex;
         
       
    }
        article{
          display: flex;
     border: 1px solid #183C63;
    margin: 16px;
   gap: 16px;
  padding: 16px;
        }
        img{
          width: 80px;
          height: 80px;
     
